*{
  margin: 0px;
  padding: 0px;
}

/* header section */
.header-container{
  background: rgba(229, 84, 115, 0.10);
  display: flex;
  gap: 130px;
  align-items: center;
  padding: 0px 240px;
}

.header-description-title{
  width: 690px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  line-height: 1em;
}

.header-description-des{
  width: 634px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0px;
}
.btn-f-design{
  padding: 20px 43px;
  border: 0px;
  border-radius: 8px;
  background: #E55473;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.header-img{
  width: 635px;
  padding-top: 50px;
  margin-bottom: -14px;
}

/* main section */
main{
  margin: 128px 0px;
}

/* first bonus section */
.first-bonus-container{
  margin: 178px 240px 128px;
}

.bonus-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.bonus-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px auto 158px;
}

.first-bonus-img{
  display: flex;
  gap: 149px;
  justify-content: center;
}

.f-img{
  width: 310px;
  height: 428px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 76px;
}

.s-img{
  background: rgba(5, 151, 160, 0.15);
}

.t-img{
  background: rgba(71, 125, 17, 0.15);
}

.f-img-container{
  display: block;
}

.img-description{
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* second bonus section */
.second-bonus-container{
  margin: 128px 220px;
  display: flex;
  gap: 356px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 175px;
}

.s-bonus-img{
  display: block;
  margin: 24px auto;
}

.s-bonus-description{
  color: rgba(39, 39, 39, 0.80);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* discount section */
.discount-container{
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  gap: 190px;
  align-items: center;
  padding: 100px 402px;
}

.discount-title{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.discount-title > span{
  color: #E55473;
}

.discount-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.discount > button{
  display: block;
  margin: 32px auto;
}

.discount-img{
  width: 318px;
}

/* instagram section */
.instagram-container{
  margin: 128px auto;
}

.instagram-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.instagram-description{
  margin: 24px auto 48px; 
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.instagram-images{
  display: flex;
  gap: 24px;
  margin: 0px 240px;
}

/* deal section */
.deal-container{
  margin: 128px 240px;
  background-image: url('../Flower Asset/Rectangle\ 9.png');
  background-repeat: no-repeat;
  height: 449px;
}

.deal-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
}

.deal-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.deal-flex-items{
  display: flex;
  margin: 48px auto;
  display: block;
  margin-left: 287px;
}

.deal-flex-items > input{
  border-radius: 8px;
  border: 0px;
  background: #FFF;
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 23px 513px 22px 22px;
}

.deal-flex-items > button{
  margin-left: 16px;
}

/* footer section */
footer{
  background: #111010;
}

/* shop section */
.shop-container{
  text-align: center;
  padding: 128px auto;
}

.shop-title{
  color: white;
  font-size: 48px;
  font-weight: 800;
  padding-top: 128px;
}

.shop-title > span{
  color: #E55473;
}

.shop-description{
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 18px 649px;
}

.copyright{
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}